.navBar {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 208, 238);
}

.navBar p {
    margin-right: 20px;
}

.menuRegistration {
    width: 100%;
    text-align: center;
}

.menuLogin {
    width: 70%;
    text-align: end;
}

.menuLogin a,
.menuRegistration a {
    color: black;
    margin: 40px;
    text-decoration: none;
}

.mobile_btn {
    display: none;
}

.menuLogin a:hover,
.menuRegistration a:hover {
    color: rgb(177, 177, 177);
    transition: 0.3s ease;
}

.navBar button {
    color: rgb(92, 94, 92);
    border: 1px solid rgb(90, 79, 79);
    height: 40px;
    width: 80px;
    font-size: 18px;
    padding: 5px;

}

.navBar button:hover {
    cursor: pointer;
    color: rgb(155, 150, 150);
    border: 1px solid rgb(153, 149, 149);
    transition: 0.3s ease;
}

.userData {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 15%;
}